---

---

<div
    class="relative grid grid-cols-[3fr_1fr] lg:grid-cols-[6fr_3fr] min-h-[220px] max-h-[220px] border border-accent rounded-xl p-6 bg-gradient-to-t from-accent-dark to-accent"
>
    <div class="z-10 flex items-center">
        <p>
            I'm Michael Binder, a
            <code
                class="text-md font-bold bg-accent text-accent-light rounded-md px-1 py-0.5"
                >Software Engineer</code
            >
            from Germany.<br />
        </p>
    </div>
    <div
        class="absolute inset-0 -bottom-[29px] lg:-bottom-[62px] flex justify-end items-center"
    >
        <img
            src="./micha-avatar.png"
            alt="avatar"
            class="block w-auto h-[200px] lg:opacity-100 opacity-50"
        />
    </div>
</div>
